/* Media Queries */
/**************************/


@media (max-width: 767px){
    header{
        min-width: 0;
    }
    nav, ul{
        flex-direction: column;
    }
    nav ul{
        height: auto;
    }
    nav li{
        margin: 10px 0;
    }
    .docs{
        order: 6;
    }
    .contain, .contain2{
        grid-template-columns: 1fr;
    }  
}

@media (max-width: 959px) and (min-width: 768px) {
    
  #parallax-world-of-ugg .block {
      padding: 40px; 
      width:620px;
    }
}
@media (max-width: 767px) {
  #parallax-world-of-ugg .block {
      padding: 30px; 
      width:420px;
    }
  #parallax-world-of-ugg h2 {
      font-size:30px;
    }
  #parallax-world-of-ugg .block {
      padding: 30px;
    }
  #parallax-world-of-ugg .parallax-one, 
    #parallax-world-of-ugg .parallax-two, 
    #parallax-world-of-ugg .parallax-three,
    #parallax-world-of-ugg .parallax-four{
      padding-top:100px; 
      padding-bottom:100px;
    }
}
@media (max-width: 479px) { 
  #parallax-world-of-ugg .block {
      padding: 30px 15px; 
      width:290px;
    }
}
